body {
	/* font-family: Arial, Helvetica, sans-serif;
	font-size:  15px;
	line-height:  1.5; */
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: f4f4f4;
}

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.btn_submit {
	height: 38px;
	background: #e8491d;
	border: none;
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

/* Header */
header {
	background:  #35424a;
	color: #fff;
	/* padding-top: 30px; */
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #brand {
	float: left;
}

header #brand h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 22px;
}

header .brand-main, header .active a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover {
	color: #e8491d;
	font-weight: bold;
}

/* Showcase */
#showcase {
	min-height: 400px;
	background: url('../img/showcase.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #fff;
}

#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p {
	font-size: 20px;
}

#newsletter {
	padding: 15px;
	color: #fff;
	background: #35424a;
}

#newsletter h1 {
	float: left;
}

#newsletter form {
	float: right;
	margin-top: 20px;
}

#newsletter input[type='email'] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

#services {
	margin-top: 20px;
}

#services .service-card {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#services .service-card img {
	width: 90px;
}

footer {
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #e8491d;
	text-align: center;
}